[submodule "resources/scripts/comm"]
	path = resources/scripts/comm
	url = git@github.com:Noitidart/Comm
[submodule "resources/scripts/ostypes"]
	path = resources/scripts/ostypes
	url = git@github.com:Noitidart/ostypes
