.PanelUI-profilist {
  margin: 0;
  padding: 10px 0;
  min-height: 2em;
  -moz-appearance: none;
  box-shadow: none;
  background-image: none;
  border: none;  
  border-radius: 0;
  transition: background-color;
  -moz-box-orient: horizontal;
}

.PanelUI-profilist {
  border-top: 1px solid hsla(210,4%,10%,.14);
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

.PanelUI-profilist > .toolbarbutton-text {
  width: 0; /* Fancy cropping solution for flexbox. */
}

.PanelUI-profilist > .toolbarbutton-text {
  margin: 0;
  padding: 0; /*xp*/ /*0 6px; this is on win7*/
  text-align: start !important;
}

.PanelUI-profilist > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

#profilistLoading {
	list-style-image: url(chrome://profilist/content/icon16.png);
}

.PanelUI-profilist[status="active"] {
  list-style-image: url(chrome://profilist/content/active-user.png);
}

.PanelUI-profilist[disabled] > .toolbarbutton-icon {
  opacity: 0.4;
}

.PanelUI-profilist:not([status="active"]) {
  /*box-shadow: inset 0 0 40px 1px hsla(210,4%,5%,.05) !important;*/
  /*background-color: hsla(210,4%,50%,.05) !important;*/
  border-top: 1px solid transparent !important;
  /*border-bottom: 0 !important;*/
}


.PanelUI-profilist {
  flex: 1;
  -moz-padding-start: 15px;
  -moz-border-start-style: none;
}

.PanelUI-profilist {
  list-style-image: url(chrome://profilist/content/inactive-user.png);
}

.PanelUI-profilist.advanced {
  list-style-image: url(chrome://profilist/content/cog.png);
}

.PanelUI-profilist.create {
  list-style-image: url(chrome://profilist/content/plus.png);
}

.PanelUI-profilist {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.PanelUI-profilist:not([disabled]):hover {
  /*outline: 1px solid hsla(210,4%,10%,.07);*/
  background-color: hsla(210,4%,10%,.07) !important;
}

.PanelUI-profilist:not([disabled]):hover:active,
.PanelUI-profilist.perm-hover:not([disabled]):active {
  /*outline: 1px solid hsla(210,4%,10%,.12);*/
  background-color: hsla(210,4%,10%,.12) !important;
  /*box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;*/
}

.PanelUI-profilist:not([disabled]):hover,
.PanelUI-profilist:not([disabled]):hover:active,
.PanelUI-profilist.perm-hover:not([disabled]):active, {
  outline: none;
}


.PanelUI-profilist.perm-hover:not([disabled]) {
	background-color: hsla(210,4%,10%,.07) !important;
	box-shadow: inset 0 6px 4px 2px hsla(210,4%,10%,.05) !important;
}


#profilist_box stack {
	transition: height 0.25s;
	min-height: 2em;
	overflow: hidden;
}