.profilist-tbb-box:not(.profilist-nosubmenu) {
  -moz-binding: url('chrome://profilist/content/xbl.xml#tbb-box');
}
.profilist-tbb {
  -moz-binding: url('chrome://profilist/content/xbl.xml#tbb');
  -moz-appearance: none;
}
.profilist-tbb-box:first-of-type:not(.profilist-nosubmenu) { /*active profile*/
  -moz-binding: url('chrome://profilist/content/xbl.xml#tbb-box-create');
}
.profilist-tbb-box[top='0'] { /*active profile*/
  -moz-binding: url('chrome://profilist/content/xbl.xml#tbb-box-active');
}

/*start - badge*/
.profilist-tbb {
  list-style-image: url('chrome://profilist/content/inactive-user.png');
}
.profilist-tbb[status='active'] {
  list-style-image: url('chrome://profilist/content/active-user.png');
}

.profilist-tbb:not([badge]) .profilist-badge {
  list-style-image: none;
}
/*end - badge*/

/* start submenu*/
/* dots */
.profilist-tbb-box .profilist-submenu image.profilist-closed {
	padding: 11px 5px 9px 5px; /*because dots dont like centered if i dont set top 11 and bottom 9*/
}
.profilist-tbb-box .profilist-submenu image:hover {
	background-color: steelblue;
}
/* dots */
.profilist-tbb-box .profilist-submenu image:not(.profilist-closed) {
	padding: 10px 1px;
}


.profilist-closed {
	list-style-image: url(chrome://profilist/content/3dots.png);
}


.profilist-tbb-box:hover .profilist-submenu:hover {

}

.profilist-tbb-box .profilist-submenu:not(.profilist-closed) image {

}

.profilist-tbb-box .profilist-submenu image:hover {

}

.profilist-del {
	list-style-image: url(chrome://profilist/content/bullet_delete.png);
}
.profilist-rename {
	list-style-image: url(chrome://profilist/content/bullet_edit.png);
}
.profilist-default {
	list-style-image: url(chrome://profilist/content/bullet_blue.png);
}
.profilist-safe {
	list-style-image: url(chrome://profilist/content/bullet_wrench.png);
}
.profilist-build {
	list-style-image: url(chrome://profilist/content/bullet_aurora.png);
}
.profilist-clone {
	list-style-image: url(chrome://profilist/content/bullet_release.png);
}
/* end submenu*/

#profilistLoading .profilist-tbb {
	list-style-image: url(chrome://profilist/content/icon16.png);
}