#profilist_box > stack {
	width:100%;
	overflow:hidden;
	transition:height 250ms;
}

.profilist-tbb-cont {
	display: flex;
}

.profilist-tbb-box {
	-moz-binding: url('chrome://profilist/content/xbl.xml#tbb-box');
	display:flex;
	border-style: solid;
	border-width: 1px 0;
	border-color: rgba(24, 25, 26, 0.14) transparent transparent;
	margin-bottom: -1px;
	
-moz-box-align: center;
-moz-box-pack: center;
transition-property: background-color;
}
.profilist-tbb-box:hover {
	background-color: hsla(210,4%,10%,.07);
}

.profilist-tbb {
	-moz-appearance: none;
	padding: 10px 0px 10px 15px;
	flex-grow:1;
	border:0;
	display:flex;
	-moz-binding: url('chrome://profilist/content/xbl.xml#tbb');
	
	box-sizing: border-box;
	flex-basis: 0%;
	-moz-box-align: center;
	-moz-box-pack: center;
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	-moz-user-select: none;
}
/*start - badge*/
.profilist-tbb-box[status='inactive'] .toolbarbutton-icon {
	list-style-image: url('chrome://profilist/content/inactive-user.png');
}
.profilist-tbb-box[status='active']	.toolbarbutton-icon {
	list-style-image: url('chrome://profilist/content/active-user.png');
}
.profilist-tbb-box.profilist-create .toolbarbutton-icon {
	list-style-image: url(chrome://profilist/content/plus.png);
}
.profilist-tbb-box.profilist-loading .toolbarbutton-icon {
	list-style-image: url(chrome://profilist/content/icon16.png);
}

.profilist-tbb:not([badge]) .profilist-badge {
	list-style-image: none;
}
/*end - badge*/

/* start submenu*/
.profilist-tbb-box:not([status]):not(.profilist-create) .profilist-submenu {
	display:none;
}

.profilist-submenu {
	display: flex;
	position: relative;
	transition: left 300ms;
}

/*start - submenu positions when dev disabled*/
#profilist_box:not(.profilist-dev-enabled) .profilist-tbb-box[status=active] .profilist-submenu {
	left: calc(2*18px);
}
#profilist_box:not(.profilist-dev-enabled) .profilist-tbb-box[status=inactive] .profilist-submenu {
	left: calc(3*18px);
}
/*end - submenu positions when dev disabled*/

/*start - submenu positions when dev enabled*/
#profilist_box.profilist-dev-enabled .profilist-tbb-box[status=active] .profilist-submenu {
	left: calc(4*18px);
}
#profilist_box.profilist-dev-enabled .profilist-tbb-box[status=inactive] .profilist-submenu {
	left: calc(5*18px);
}
/*end - submenu positions when dev enabled*/
.profilist-submenu:hover {
	left: 0 !important; /*need the important because i did all the specificity above when trying to detect dev eanbled or inactive/active*/
}

.profilist-submenu:hover .profilist-dots {
	left: 0 !important;
}
/* end submenu*/
.profilist-subnotif {
	display: flex;
}
.profilist-tbb-box .profilist-subnotif image {
	padding: 10px 1px;
}

/* dots */
.profilist-submenu .profilist-dots {
	padding: 11px 5px 9px 5px; /*because dots dont like centered if i dont set top 11 and bottom 9*/
	list-style-image: url(chrome://profilist/content/3dots.png);
	filter: none;
	opacity: 1;
}
/* dots */
.profilist-tbb-box .profilist-submenu image:not(.profilist-dots) {
	padding: 10px 1px;
}

#profilist_box:not(.profilist-dev-enabled) [class*="profilist-dev-"] {
	display: none;
}

.profilist-submenu {
	overflow: hidden;
}

#profilist_box:not(.profilist-show-is-default) .profilist-is-default {
	display: none;
}



.profilist-submenu image {
	filter: url(filters.svg#grayscale);
	opacity: .2;
	transition: opacity 300ms;
	cursor: pointer;
}

.profilist-submenu image:hover {
	opacity: 1;
}
.profilist-submenu image:not(.profilist-dev-build):hover {
	filter: none;
	opacity: 1;
}

[status=active] .profilist-inactive-del {
	display:none;
}
.profilist-inactive-del {
	list-style-image: url(chrome://profilist/content/bullet_delete.png);
}
.profilist-rename {
	list-style-image: url(chrome://profilist/content/bullet_edit.png);
}
.profilist-default {
	list-style-image: url(chrome://profilist/content/bullet_gray.png);
}
.profilist-is-default {
	/*used to show which other profile is the current default one when user hovers over ".profilist-default"*/
	list-style-image: url(chrome://profilist/content/bullet_blue.png);
}
.profilist-dev-safe {
	list-style-image: url(chrome://profilist/content/bullet_wrench.png);
}
.profilist-dev-build {
	list-style-image: url(chrome://branding/content/icon16.png);
	filter: url(filters.svg#grayscale);
}
	.profilist-tbb-box.profilist-tied-release .profilist-dev-build {
		list-style-image: url(chrome://profilist/content/bullet_release.png);
	}
	.profilist-tbb-box.profilist-tied-beta .profilist-dev-build {
		list-style-image: url(chrome://profilist/content/bullet_beta.png);
	}
	.profilist-tbb-box.profilist-tied-aurora .profilist-dev-build {
		list-style-image: url(chrome://profilist/content/bullet_aurora.png);
	}
	.profilist-tbb-box.profilist-tied-nightly .profilist-dev-build {
		list-style-image: url(chrome://profilist/content/bullet_nightly.png);
	}
.profilist-tbb-box[class*="profilist-tied-"] .profilist-dev-build {
	opacity: 1;
	filter: none;
}
.profilist-clone {
	display: none;
	list-style-image: url(chrome://profilist/content/clone.png);
}
.profilist-create .profilist-submenu  {
	margin-right: 10px;
	border-radius: 50%;
	margin-top: 2px;
	margin-bottom: 2px;
	transition: background-color 300ms;
}
.profilist-create .profilist-submenu:hover  {
	background-color: hsla(210,4%,10%,.12);
}
.profilist-create .profilist-submenu image.profilist-clone {
	display: block;
	padding: 8px;
}
.profilist-create .profilist-submenu image:not(.profilist-clone) {
	display: none;
}
/* end submenu*/

#profilistLoading .profilist-tbb {
	list-style-image: url(chrome://profilist/content/icon16.png);
}