/* These entries are strictly to override values in screen.css, for the sole purpose of layout changes required by EUM */

/* 'Small' forms & (error) message screens */
#login-dialog { margin-left: -222px; width: 486px; background: none; }
	#login-dialog .section { width: 396px; }
	#login-dialog .actions { width: 390px; position: relative; top: 1px; }
	#login-dialog .hd { background: transparent url('eum_box_top.png') no-repeat top left; height: 10px; width: 486px; }
	#login-dialog .bd { background: transparent url('eum_box_slice.png') repeat-y top left; float: left; width: 486px; }
	#login-dialog .ft {
        background: transparent url('eum_box_btm.png') no-repeat top left;
        color:#fff;
        font-size:0.93em;
        float: left;
        height: 10px;
        padding-top: 130px;
        width: 500px;
    }
    #login-dialog .ft a { color: #fff; font-weight: bold; }
	#login-dialog .log-in { background: transparent url('eum_box_slice_vertical.jpg') repeat-x top left; }
	#login-dialog a.tooltip { position: relative; left: 400px; top: 2px; }
	#login-dialog span#question { position: relative; left: 195px; top: 4px; }
#login-dialog-inner { padding: 0 5px; }
.login form select { width: auto; float: right; /*margin-right: 10px;*/ }
.login form input.text { width: 200px; float: right; /*margin-right: 10px;*/ }
.login form input.move-forward { float: right; margin-bottom: 10px; }
.login form input.move-backward { float: right; margin-bottom: 10px; }
.login form label { width: 165px; text-align: left; }
	.login form label.has-checkable { width: 250px; }
.login .log-in .row p { padding: 0; }
.login .log-in p { padding-bottom: 10px; }
.login h1 { background: none; text-indent: 0; color: #000; margin-top: 10px; }
.login h2 { padding-top: 8px; }
.login div.error { margin-left: 184px; }
.login div.form-has-errors { display: none; }
.js .input-hint { color: #666 !important; }
.inline-error { color:#F00; }
div#username { width: 200px; margin-right: 1px; padding: 4px 0 3px; float: right; word-wrap: break-word; display: inline;}


/* Tooltips */
#tooltip .tooltip-left .body { padding-top: 9px; padding-bottom: 5px; }
#tooltip .tooltip-right .body { padding-top: 9px; padding-bottom: 5px; }


/* assuming we're ok with making the registration forms the "same" as the 'small' forms, this whole section can be deleted for EUM - 2010.01.29 */
/* Registration type forms */
body.sign-up {background: #043e92 none;}
.sign-up .glb-bdy { width: 670px; margin-left: 420px; }
.sign-up .glb-wrapper {position:relative; height:100%; min-height:575px; background:url('login-gradient.png') 0% 100% repeat-x;}
.sign-up .glb-wrapper-inner {height:100%; background:url('login-hills.jpg') 50% 100% no-repeat;}
.sign-up .glb-ftr-container { background: none; }
	.sign-up .glb-ftr { width: 670px; height: 40px; margin-left: 420px; margin-top: 40px; color: #fff; }
	.sign-up .glb-ftr a { font-weight: bold; color: #fff; }
.sign-up .glb-bdy-container { margin-top: -30px; }
.sign-up #logo { display: inline; margin: -64px 0 0 5px; }
.sign-up #tips { display: none; }
.sign-up h1#appname { color: #fff; position: absolute; top: 93px; left: 50%; width: 435px; height: 41px; margin-left: -216px; display: block; font-size: 2.3em; font-weight: bold; line-height: 1em; }
.sign-up div.error { margin-left: 243px; }

div#terms_check {z-index: 1;}

.version-info {color:#FFFFFF;font-size:9px;}