/* start - the_body */
html {
	height: 100%;
	-moz-user-select: none;
	cursor: default;
}
/* end - the_body */


/* start - the_body */
body {
	font-size: 13px;
    background: none repeat scroll 0% 0% #FFF;
	font-family: arial, helvetica, sans-serif;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	flex-direction: column;
	height: 100%;
}
/* end - the_body */

/* start - wrapper_main */
#wrapMain {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: flex-start;
	width: 486px;
	padding-top: 40px;
}
/* end - wrapper_main */


/* start - wrapper_header */
#wrapHead {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}
/* end - wrapper_header */

/* start - wrapper_content */
#wrapContent {
	background: transparent linear-gradient(to bottom, #FFF 0%, #D9D9D9 200%) repeat-x scroll left top;
	min-height: 200px; /*:debug:*/
	/* box-shadow: rgba(50,50,50,0.5) 1px 2px 1px 1px; */
	width: 477px;
	position: relative;
	left: 4px;
	border-radius: 0px 0px 5px 3px;
	display: flex;
}
/* end - wrapper_content */

/* start - border_imgs */
#borderImgTop {
	background: transparent url("chrome://profilist/content/resources/images/cp/eum_box_top.png") no-repeat scroll left top;
	height: 10px;
}
#borderImgBottom {
	background: transparent url("chrome://profilist/content/resources/images/cp/eum_box_btm.png") no-repeat scroll left top;
	height: 10px;
}
#borderImgSides {
	background: transparent url("chrome://profilist/content/resources/images/cp/eum_box_slice.png") repeat-y scroll left top;
}
/* end - border_imgs */

/* start - h1 */
#wrapHead h1 {
	flex: 1 0 auto;
	background: transparent url("chrome://profilist/content/icon.png") no-repeat scroll left center;
	text-indent: 55px;
	line-height: 48px; /* so the icon bottom part doesnt get cut off */
	font-size: 2em;
}
/* end - h1 */


/* start - h2 */
#wrapHead h2 {
	font-size: 1.5em;
	margin-right: 5px;
}
/* end - h2 */


/* start - wrapper_react */
.wrap-react {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	color: #666;
	padding: 10px 40px;
}
/* end - wrapper_react */

/* start - sections */
.section {
	margin-bottom: 20px;
}
/* end - sections */

/* start - rows */
.row {
	display: flex;
	align-items: center;
}
.section .row {
	margin-bottom: 5px;
}
.section .row:last-child {
	margin-bottom: 0;
}
.row-help {
	justify-content: flex-end;
	margin: 0 -27px -7px 0;
}
/* end - rows */


/* start - rows_right_portion */
.row div:last-of-type {
	flex: 1 0 auto;
	display: inline;
	text-align: right;
}
/* end - rows_right_portion */

/* start - h3 */
.wrap-react h3 {
	font-size: 1.3em;
	
	line-height: 130%;
	color: #333;
	font-weight: bold;
	padding: 0 0px 10px;
	margin: 0px 0px 15px;
	border-bottom: 1px solid #CCC;
}
/* end - h3 */


/* start - row_label */
.row label {
}
/* end - row_label */


/* start - selects */
select {
	min-width: 80px;
	font-size: inherit;
	font-family: inherit;
	max-width: 240px;
	text-overflow: ellipsis;
}
/* end - selects */


/* start - fontello_icons */
.fontello-icon::before {
	font-size: inherit;
	color: #666;
	cursor: pointer;

	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	/*
	display: inline-block;
	text-decoration: inherit;

	opacity: 0.1;
	margin: 0 1px 0 0;
	padding: 0;
	*/
	
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
}
.fontello-icon.icon-help::before {
	content: "\e800";
	font-size: 16px;
	transition: color 200ms;
	color: #000;
}
.fontello-icon.icon-info::before {
	content: "\e805";
	margin: 0 5px;
	transition: color 200ms;
}
.fontello-icon.icon-specificness-toggler::before {
	content: "\e808";
	margin: 0 5px;
	opacity: 0.3;
	transition: opacity 200ms, color 200ms;
}
/* state:mouseover */
.fontello-icon.icon-help:hover::before {
	color: #0874E0;
}
.fontello-icon.icon-info:hover::before {
	color: #0874E0;
}
.fontello-icon.icon-specificness-toggler:hover::before {
	opacity: .5;
}
/* state:isspecific */
.fontello-icon.icon-specificness-toggler.is-specific:hover::before {
	opacity: .6;
}
.fontello-icon.icon-specificness-toggler.is-specific::before {
	opacity: 1;
	color: #333;
}
/* end - fontello_icons */

/* start - other_stuff */
@font-face {
	font-family: 'fontello';
	src: url('chrome://profilist/content/resources/styles/fonts/fontello.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* end - other_stuff */