/* start - initial state */
/* level - max parent */
#profilist_menu {
	background-color: #EFEFEF;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	position: relative;
	font-family: Segoe UI;/* link123213*/
	font-size: 12px;/* link93849848*/
	-moz-user-select: none;
}
/* level - children depth 1 */
#profilist_menu .profilist-tbb {
	top: 0;
	bottom: 0;
	background-color: inherit;
	border: 1px solid #D7D7D7;
	border-left: 0;
	border-right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/*padding: 11px 5px 11px 15px;*/
	height: 40px;
	overflow: hidden;
	position:relative;
}
/* level - children depth 2 */
#profilist_menu .profilist-tbb .profilist-tbb-hover {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5px 0 15px;
	height: 100%;
}

#profilist_menu .profilist-tbb .profilist-tbb-submenu {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
/* level - children depth 3 */
#profilist_menu .profilist-tbb:not([data-tbb-type*=active]) .profilist-tbb-primary .profilist-tbb-icon {
	pointer-events: none;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon {
	flex: 0 1 auto;
	z-index: 3;
	padding: 2px;
	margin-right: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%; /* to increase the mouseover target */
}
#profilist_menu .profilist-tbb[data-tbb-type=noresultsfor] .profilist-tbb-primary {
	text-align: center;
	padding: 0;
}
#profilist_menu .profilist-tbb[data-tbb-type=noresultsfor] .profilist-tbb-primary .profilist-tbb-textbox {
	text-align: center;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-textbox,
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight {
	flex: 1 0 auto;
	display: inline-block;
	text-overflow: ellipsis; /* only shows when disabled attribute is set - this is the behavior i was hoping for. cuz when not disabled i dont want ellipsis*/
	pointer-events: auto; /* so the poitner events intercepted and hover highlight blocked */
	z-index: 3;
	border: 1px solid #A6A6A6;
	font-size: inherit; /* for textbox, otherwise, it doesnt take the font-SIZE i set in link123213*/
	font-family: inherit;/* for textbox, otherwise, it doesnt take the font-FAMILY i set in link93849848*/
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight {
	position: absolute;
	border: 1px solid transparent;
	pointer-events: none;
	color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	height: 100%;
	margin: -1px 0px 0px 1px; /* this is to get the text to overlap the textbox perfectly */
	opacity: 0.5;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight .profilist-tbb-highlight-this {
	text-shadow: 0 0 1px red;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-textbox:not([disabled]) {
	-moz-user-select: text;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-textbox[disabled] {
	border: 1px solid transparent;
	background-color: transparent;
	color: #000;
	pointer-events: none; /* so the poitner goes through to the -hover element */
}
/* level - children depth 4 */
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-badge {
	pointer-events: none;
	position: absolute;
	z-index: 2;
	transform: translate(50%, 50%) scale(.5);
	transition: transform 500ms; /* link104911 should be same time */
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 1;
	transition: opacity 500ms; /* link104911 should be same time */
}

#profilist_menu .profilist-tbb:not([data-tbb-type*=active]) .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-badge {
	display: none;
}
#profilist_menu .profilist-tbb[data-tbb-type=inactive] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* link123123 position important*/
	background: transparent url("chrome://profilist/content/resources/images/status-inactive.png") no-repeat scroll center center;
}
#profilist_menu .profilist-tbb[data-tbb-type=active] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status {
	background: transparent url("chrome://profilist/content/resources/images/status-active.png") no-repeat scroll center center;
}
#profilist_menu .profilist-tbb[data-tbb-type=loading] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* this needs to come after link123123 otherwise it will take inactive state */
	background: transparent url("chrome://profilist/content/resources/images/icon16.png") no-repeat scroll center center;
	/*opacity: 0.3;*/
}
#profilist_menu .profilist-tbb[data-tbb-type=createnewprofile] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* this needs to come after link123123 otherwise it will take inactive state */
	background: transparent url("chrome://profilist/content/resources/images/plus.png") no-repeat scroll center center;
	/*opacity: 0.3;*/
}
/* end - initial state */
/* start - hover state */
#profilist_menu .profilist-tbb .profilist-tbb-hover:hover {
	background-color: #E0E0E0;
}
#profilist_menu .profilist-tbb .profilist-tbb-hover:active {
	background-color: #D5D5D5;
}
#profilist_menu .profilist-tbb[data-tbb-type*=active] .profilist-tbb-primary .profilist-tbb-icon:hover .profilist-tbb-badge {
	transform: none;
}
#profilist_menu .profilist-tbb[data-tbb-type*=active] .profilist-tbb-primary .profilist-tbb-icon:hover .profilist-tbb-status {
	opacity: 0;
}
/* end - hover state */
/* start - submenu */
/* subicon */
#profilist_menu .profilist-tbb-submenu-subicon {
	flex: 1 0 auto;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent url("chrome://mozapps/skin/places/defaultFavicon.png") no-repeat scroll center center;
	z-index: 3;
	height: 100%;
	transition: filter 200ms;
}
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-clone):not(.profilist-si-isdefault):not(.profilist-si-dots) { /* link3920284 - match the not specificity or the hover doesnt work */
	filter: grayscale(100%);
}
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-isdefault):not(.profilist-si-dots) { /* link3920284 - match the not specificity or the hover doesnt work */
	cursor: pointer;
}
/* subicon hover */
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-clone):not(.profilist-si-isdefault):not(.profilist-si-dots):hover { /* link3920284 - match the not specificity or the hover doesnt work */
	filter: grayscale(0%);
}
/* specific images */
#profilist_menu .profilist-si-clone {
	background-image: url("chrome://profilist/content/resources/images/subicon-clone.png");
}
#profilist_menu .profilist-si-isdefault {
	background-image: url("chrome://profilist/content/resources/images/subicon-default.png");
}
#profilist_menu .profilist-si-build {
	background-image: url("chrome://profilist/content/defaultFavicon.png");
}
#profilist_menu .profilist-si-dots {
	background-image: url("chrome://profilist/content/resources/images/subicon-dots.png");
}
#profilist_menu .profilist-si-safe {
	background-image: url("chrome://profilist/content/resources/images/subicon-wrench.png");
}
#profilist_menu .profilist-si-setdefault {
	background-image: url("chrome://profilist/content/resources/images/subicon-default.png");
}
#profilist_menu .profilist-si-rename {
	background-image: url("chrome://profilist/content/resources/images/subicon-edit.png");
}
#profilist_menu .profilist-si-del {
	background-image: url("chrome://profilist/content/resources/images/subicon-delete.png");
}
/* end - subicon menu */