/*start - dummy_tbb_sync */
.dummy-tbb-sync,
.dummy-tbb-foot {
	font-size: 12px;
	font-family: Segoe UI, Ubuntu, -apple-system;
	-moz-user-select: none;
	background-color: rgb(239, 239, 239);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(209, 209, 209) transparent rgb(209, 209, 209) transparent;
	border-left: 0;
	border-right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 7px 0 15px;
	height: 40px;
	overflow: hidden;
	position:relative;
	cursor: default;
	-moz-user-select: none;
}
.dummy-tbb-foot {
	z-index: 1;
	padding: 0;
	border-color: transparent transparent rgb(209, 209, 209) transparent;
	border-top-width: 0;
}
.dummy-tbb-sync img {
	margin-right: 7px;
}
.dummy-tbb-sync:hover,
.dummy-tbb-foot > div:hover {
	background-color: rgb(224, 224, 224);
}
.dummy-tbb-sync:active,
.dummy-tbb-foot > div:active {
	background-color: rgb(213, 213, 213);
}
.dummy-tbb-foot img {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: transparent url("chrome://profilist/content/resources/images/menuPanel-customize.png") no-repeat scroll 0px 0px;
}
.dummy-tbb-foot > div:hover img {
	background-position: -16px;
}
.dummy-tbb-foot > div:active img {
	background-position: -32px;
}
.dummy-tbb-foot > div:nth-child(3):hover {
	background-color: #D94141;
}
.dummy-tbb-foot > div:nth-child(3):active {
	background-color: #AD3434;
}
.dummy-tbb-foot > div {
	display: flex;
	align-items: center;
	height: 100%;
}
.dummy-tbb-foot > div:nth-child(2),
.dummy-tbb-foot > div:nth-child(3) {
	width: 46px;
	justify-content: center;
	border-left: 1px solid rgb(209, 209, 209);
}
.dummy-tbb-foot > div:nth-child(1) {
	flex: 1 0 auto;
	padding-left: 15px;
}
.dummy-tbb-foot > div:nth-child(1) > img {
	background-image: url("chrome://profilist/content/resources/images/menuPanel-customize.png");
	margin-right: 7px;
}
.dummy-tbb-foot > div:nth-child(2) > img {
	background-image: url("chrome://profilist/content/resources/images/menuPanel-help.png");
}
.dummy-tbb-foot > div:nth-child(3) > img {
	background-image: url("chrome://profilist/content/resources/images/menuPanel-exit.png");
}
/* end - dummy_tbb_sync */
/* start - main_wrap */
/* state:innate */
#profilist_menu {
	background-color: rgb(239, 239, 239);
	display: flex;
	overflow: hidden;
	flex-direction: column;
	position: relative;
	font-family: Segoe UI, Ubuntu, -apple-system;/* link123213*/
	font-size: 12px;/* link93849848*/
	-moz-user-select: none;
}
/* end - main_wrap */


/* start - toolbarbutton_wrap */
/* state:innate */
#profilist_menu .profilist-tbb {
	top: 0;
	bottom: 0;
	background-color: inherit;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: rgb(209, 209, 209) transparent transparent transparent;
	border-left: 0;
	border-right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/*padding: 11px 5px 11px 15px;*/
	height: 40px;
	overflow: hidden;
	position:relative;
}
/* state:data_state_open */
#profilist_menu[data-state=open] .profilist-tbb {
	background-color: rgb(229, 229, 229);
}
#profilist_menu[data-state=open] .profilist-tbb:first-of-type {
	/*curprofile_tbb*/
	background-color: rgb(220, 220, 220); /*dark but not as dark as active of tbb below*/
	box-shadow: 0px 1px 2px 0px rgba(24, 25, 26, 0.28);
	z-index: 10;
	border-color: rgb(209, 209, 209) transparent transparent transparent;
}
/* state:data_state_disabled */
/*:todo:*/
/* state:fade */
/* squish_content_swap_animation */
.profilist-slowfade-enter {
	opacity: 0;
}
.profilist-slowfade-enter.profilist-slowfade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in; /* i did ease-out as the leave is ease-out, it might make it match to the millisecond */
}
.profilist-slowfade-leave {
	opacity: 1;
	pointer-events: none;
}
.profilist-slowfade-leave.profilist-slowfade-leave-active {
	opacity: 0;
	transition: opacity 300ms ease-out;
}
/* end - toolbarbutton_wrap */

/* start - tbb_after_profilist_menu_when_open */
#profilist_menu_container[data-state=open] + .dummy-tbb-sync {
	/*box-shadow: 0px 2px 0px 2px white, 0px -1px 1px 0px rgba(24, 25, 26, 0.2);*/
	/*box-shadow: 0px -1px 0 0px rgba(24, 25, 26, 0.2);*/
	box-shadow: 0px 2px 0px 2px white, 0px 1px 3px 0px rgba(24, 25, 26, 0.5);
	border-top-color: rgba(255,255,255,0.7);
	z-index: 1;  /*so the box-shadow shows over the profilist-tbb when that profilist-tbb is hovered*/
}

#profilist_menu_container[data-state=open] + .dummy-tbb-sync:hover {
	border-top-color: rgba(255,255,255,0.3);
}
/* end - tbb_after_profilist_menu_when_open */

/* start - toolbarbutton_mouseover_element */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-hover {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
/* state:mouseover */
#profilist_menu .profilist-tbb .profilist-tbb-hover:hover {
	background-color: rgb(224, 224, 224);
	/* box-shadow: 0px -6px 0 0px red; */
}
#profilist_menu .profilist-tbb:first-of-type .profilist-tbb-hover:hover {
	background-color: inherit; /*no hover as this is curprofile_tbb*/
}
/* state:mousedowned */
#profilist_menu .profilist-tbb .profilist-tbb-hover:active {
	background-color: rgb(213, 213, 213);
}
/* end - toolbarbutton_mouseover_element*/


/* start - primary_wrap */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-primary {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5px 0 15px;
	height: 100%;
}
/* state:filter_matched */
#profilist_menu .profilist-tbb[data-tbb-type=noresultsfor] .profilist-tbb-primary {
	justify-content: center;
	padding: 0;
	white-space: pre;
}
/* end - primary_wrap */


/* start - submenu_main */
/* state:innate */
#profilist_menu .profilist-tbb-submenu {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
/* state:picking_clone */
#profilist_menu.profilist-clone-pick .profilist-tbb-submenu {
	display: none;
}
/* end - submenu_main */

/* start - squishy */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-primary-squishy {
	z-index: 1;
	/* background-color: steelblue; */
	flex: 1 0 auto;
	position: relative;
	pointer-events: none;
	display: flex;
	height: 100%; /* link1473722777 - to make position absolut elements, which be centered in the middle */
	align-items: center; /* link1473722777 - to make position absolut elements, which be centered in the middle */
}
/* state:picking_clone */
#profilist_menu.profilist-clone-pick .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary-squishy {
	animation: profilist-vshake 300ms infinite;
}
/* end - squishy */

/* start - squishy_react_transition_element */
#profilist_menu .profilist-tbb .profilist-tbb-primary-squishy > span > div { /* because contained inside squishy is ```React.createElement(React.addons.CSSTransitionGroup```, and everything within that should be stackable, because of the fade-in-out thing */
	position: absolute; /* link1473722777 - relatede to that link, but i had to go position absolute otherwise React.addons.CSSTransitionGroup is not making them appear overlapping as it inserts the entering element as soon as it starts the leaving animation - http://stackoverflow.com/questions/34824391/element-is-removed-after-transitionleavetimeout-but-how-come-not-inserted-afte */
	height: 100%; /* link1473722777 - to make position absolut elements, which be centered in the middle */
	width: 100%;
	display: flex;
	top: 0; /* link1473722777 - to make position absolut elements, which be centered in the middle */
	align-items: center; /* link1473722777 - to make position absolut elements, which be centered in the middle */
}
/* state:swap */
.profilist-fastswap-enter {
	opacity: 0;
	display: flex;
	height: 0;
	overflow: hidden;
}
.profilist-fastswap-enter.profilist-fastswap-enter-active {
	opacity: 1;
	height: 100%;
	transition: opacity 200ms ease-in 100ms, height 0ms ease-out 100ms; /* i did ease-out as the leave is ease-out, it might make it match to the millisecond */
}
.profilist-fastswap-leave {
	opacity: 1;
}
.profilist-fastswap-leave.profilist-fastswap-leave-active {
	opacity: 0;
	transition: opacity 100ms ease-out;
}
/* end - squishy_react_transition_element */

/* start - squishy_textbox */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-primary-squishy input[type=text] {
	/*margin: -2px 0 0 -2px;*//* accomadate for the border of 1px on top/bottom/left so it lines up with the label text link17433838 */
	pointer-events: inherit; /* textbox field needs a bunch of inherit otherwise it doesnt get it */
	flex: 1 0 auto;
	display: inline-block;
	text-overflow: ellipsis; /* only shows when disabled attribute is set - this is the behavior i was hoping for. cuz when not disabled i dont want ellipsis*/
	pointer-events: auto; /* so the poitner events intercepted and hover highlight blocked */
	z-index: 3;
	border: 1px solid #A6A6A6;
	font-size: inherit; /* for textbox, otherwise, it doesnt take the font-SIZE i set in link123213*/
	font-family: inherit;/* for textbox, otherwise, it doesnt take the font-FAMILY i set in link93849848*/
}
/* end - squishy_textbox */



/**** end - message stuff ****/

/* start - primary_label_field */
/* state:innate */
#profilist_menu .profilist-tbb[data-tbb-type=noresultsfor] .profilist-tbb-primary .profilist-tbb-textbox {
	text-align: center;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight {
	flex: 1 0 auto;
	display: inline-block;
	text-overflow: ellipsis; /* only shows when disabled attribute is set - this is the behavior i was hoping for. cuz when not disabled i dont want ellipsis*/
	pointer-events: auto; /* so the poitner events intercepted and hover highlight blocked */
	/*z-index: 3;*/
	border: 1px solid #A6A6A6;
	font-size: inherit; /* for textbox, otherwise, it doesnt take the font-SIZE i set in link123213*/
	font-family: inherit;/* for textbox, otherwise, it doesnt take the font-FAMILY i set in link93849848*/
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight {
	position: absolute;
	border: 1px solid transparent;
	pointer-events: none;
	color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	top: 0;
	height: 100%;
	margin: -1px 0px 0px 1px; /* this is to get the text to overlap the textbox perfectly */
	opacity: 0.5;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-textbox:not([disabled]) {
	-moz-user-select: text;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-textbox[disabled] {
	border: 1px solid transparent;
	background-color: transparent;
	color: #000;
	pointer-events: none; /* so the poitner goes through to the -hover element */
}
/* state:filter_matched */
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-highlight .profilist-tbb-highlight-this {
	text-shadow: 0 0 1px red;
}
/* state:picking_clone */
#profilist_menu.profilist-clone-pick .profilist-tbb[data-tbb-type$=active] .profilist-tbb-textbox {
	animation: profilist-vshake 300ms infinite;
}
/* state:message_showing */
#profilist_menu .profilist-tbb-show-msg .profilist-tbb-textbox {
	opacity: 0;
	transition: opacity 200ms ease 200ms;
	transition: opacity 200ms;
}
/* end - primary_label_field */


/* start - primary_icon */
/* state:innate */
#profilist_menu .profilist-tbb:not([data-tbb-type$=active]) .profilist-tbb-primary .profilist-tbb-icon {
	pointer-events: none;
}
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon {
	flex: 0 1 auto;
	z-index: 3;
	padding: 2px;
	margin-right: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%; /* to increase the mouseover target */
	line-height: 0px;
	transition: line-height 1ms; /* used to detect mouseleave as mouseleave does not trigger if done very fast */
}
/* state:picking_clone */
#profilist_menu.profilist-clone-pick .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary .profilist-tbb-icon {
	animation: profilist-vshake 300ms infinite;
	pointer-events: none;
}
/* state:mouseover */
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon:hover {
	line-height: 1px;
	transition: none;
}
/* end - primary_icon */


/* start - primary_icon_badge */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-badge {
	pointer-events: none;
	position: absolute;
	z-index: 2;
	transform: translate(50%, 50%) scale(.5);
	transition: transform 500ms; /* link104911 should be same time */
}
#profilist_menu .profilist-tbb:not([data-tbb-type$=active]) .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-badge {
	display: none;
}
/* state:mouseover_or_iconset_picker */
#profilist_menu .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary .profilist-tbb-icon:hover .profilist-tbb-badge,
#profilist_menu .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary .profilist-tbb-icon.profilist-inpicker .profilist-tbb-badge {
	transform: none;
}
/* end - primary_icon_badge */


/* start - primary_icon_status */
/* state:innate */
#profilist_menu .profilist-tbb .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 1;
	transition: opacity 500ms; /* link104911 should be same time */
}
#profilist_menu .profilist-tbb[data-tbb-type=active] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* link123123 position important*/
	background: transparent url("chrome://profilist/content/resources/images/status-active.png") no-repeat scroll center center;
}
#profilist_menu .profilist-tbb[data-tbb-type=inactive] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* link123123 position important*/
	background: transparent url("chrome://profilist/content/resources/images/status-inactive.png") no-repeat scroll center center;
}
#profilist_menu .profilist-tbb[data-tbb-type=loading] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* this needs to come after link123123 otherwise it will take inactive state */
	background: transparent url("chrome://profilist/content/resources/images/icon16.png") no-repeat scroll center center;
	/*opacity: 0.3;*/
}
#profilist_menu .profilist-tbb[data-tbb-type=createnewprofile] .profilist-tbb-primary .profilist-tbb-icon .profilist-tbb-status { /* this needs to come after link123123 otherwise it will take inactive state */
	background: transparent url("chrome://profilist/content/resources/images/plus.png") no-repeat scroll center center;
	/*opacity: 0.3;*/
}
/* state:mouseover_or_iconset_picker */
#profilist_menu .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary .profilist-tbb-icon:hover .profilist-tbb-status,
#profilist_menu .profilist-tbb[data-tbb-type$=active] .profilist-tbb-primary .profilist-tbb-icon.profilist-inpicker .profilist-tbb-status {
	opacity: 0;
}
/* end - primary_icon_status */


/* start - message_in_primary */
/* state:innate */
#profilist_menu .profilist-tbb-msg {
	z-index: 3;
	position: absolute;
	margin: auto 0;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 200ms ease 200ms;
	flex: 0 0 auto; /* dont shrink or expand as width of submenu changes */
}
/* state:message_showing */
#profilist_menu .profilist-tbb-show-msg .profilist-tbb-msg {
	opacity: 1;
	transition: opacity 200ms;
}
/* end - message_in_primary */


/* start - submenu_icons */
/* state:innate */
#profilist_menu .profilist-tbb-submenu-subicon {
	flex: 1 0 auto;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent url("chrome://profilist/content/resources/images/missing.png") no-repeat scroll center center;
	z-index: 3;
	height: 100%;
	transition: filter 200ms;
}
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-clone):not(.profilist-si-isdefault):not(.profilist-si-dots):not(.profilist-si-buildhint) { /* link3920284 - match the not specificity or the hover doesnt work */
	filter: grayscale(100%);
}
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-isdefault):not(.profilist-si-dots):not(.profilist-si-buildhint) {
	cursor: pointer;
}
/* note: specific bg images */
#profilist_menu .profilist-si-clone {
	background-image: url("chrome://profilist/content/resources/images/subicon-clone.png");
}
#profilist_menu .profilist-si-isdefault {
	background-image: url("chrome://profilist/content/resources/images/subicon-default.png");
	pointer-events: none;
}
#profilist_menu .profilist-si-buildhint {
	pointer-events: none;
}
/* not needed because these elements get specific dom mutation on style.backgroundImage
#profilist_menu .profilist-si-buildhint {
	background-image: url("chrome://profilist/content/defaultFavicon.png");
}
#profilist_menu .profilist-si-tie {
	background-image: url("chrome://profilist/content/defaultFavicon.png");
}
*/
#profilist_menu .profilist-si-tie {
	transition: none;
}
#profilist_menu .profilist-si-dots {
	background-image: url("chrome://profilist/content/resources/images/subicon-dots.png");
}
#profilist_menu .profilist-si-safe {
	background-image: url("chrome://profilist/content/resources/images/subicon-wrench.png");
}
#profilist_menu .profilist-si-setdefault {
	background-image: url("chrome://profilist/content/resources/images/subicon-default.png");
}
#profilist_menu .profilist-si-rename {
	background-image: url("chrome://profilist/content/resources/images/subicon-edit.png");
}
#profilist_menu .profilist-si-del {
	background-image: url("chrome://profilist/content/resources/images/subicon-delete.png");
}
/* state:mouseover */
#profilist_menu .profilist-tbb-submenu-subicon:not(.profilist-si-clone):not(.profilist-si-isdefault):not(.profilist-si-dots):not(.profilist-si-buildhint):hover { /* link3920284 - match the not specificity or the hover doesnt work */
	filter: grayscale(0%);
}
/* end - submenu_icons */


/* start - other_stuff */
/* clone animation */
@keyframes profilist-vshake {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, 2px);
	}
	50% {
		transform: translate(0, 0);
	}
	75% {
		transform: translate(0, -1px);
	}
}

/* highlighting text in spans */
.profilist-highlight-txt {
	text-shadow: 0 0 1px rgba(241, 60, 47, 1);
}
/* end - other_stuff */