/* start - cover */
/* state:innate */
.iconsetpicker-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 99;
}
/* end - cover */
/* start - main_wrap */
/* state:innate */
.iconsetpicker-wrap {
	position: absolute;
	z-index: 100;
	pointer-events: none;
	/*margin-bottom: 3px;*/
	
	color: #000;
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	-moz-user-select: none;
}
/* end - main_wrap */

/* start - iconsetpicker_animwrap */
.iconsetpicker-animwrap {
	pointer-events: none;
	margin-bottom: 10px;
	position: relative;
	top: -3px;
}
/* state:rightwards */
.iconsetpicker-direction-rightwards.iconsetpicker-animwrap {
	top: 0;
	right: -3px;
}
/* state:react_animation_upwards */
.iconsetpicker-direction-upwards .iconsetpicker-initanim-enter {
	opacity: 0;
	margin-bottom: 30px;
}
.iconsetpicker-direction-upwards .iconsetpicker-initanim-enter.iconsetpicker-initanim-enter-active {
	opacity: 1;
	margin-bottom: 0;
	transition: opacity 200ms, margin-bottom 200ms;
}
.iconsetpicker-direction-upwards .iconsetpicker-initanim-leave {
	opacity: 1;
	margin-bottom: 0;
}
.iconsetpicker-direction-upwards .iconsetpicker-initanim-leave.iconsetpicker-initanim-leave-active {
	opacity: 0;
	margin-bottom: 30px;
	transition: opacity 200ms, margin-bottom 200ms;
}
/* state:react_animation_rightwards */
.iconsetpicker-direction-rightwards .iconsetpicker-initanim-enter {
	opacity: 0;
	margin-left: 30px;
}
.iconsetpicker-direction-rightwards .iconsetpicker-initanim-enter.iconsetpicker-initanim-enter-active {
	opacity: 1;
	margin-left: 0;
	transition: opacity 200ms, margin-left 200ms;
}
.iconsetpicker-direction-rightwards .iconsetpicker-initanim-leave {
	opacity: 1;
	margin-left: 0;
}
.iconsetpicker-direction-rightwards .iconsetpicker-initanim-leave.iconsetpicker-initanim-leave-active {
	opacity: 0;
	margin-left: 30px;
	transition: opacity 200ms, margin-left 200ms;
}
/* end - iconsetpicker-animwrap */

/* start - iconsetpicker_subwrap */
/* state:innate */
.iconsetpicker-subwrap {
	/* must set width on subwrap, as that dictates the width of everything. if dont set width here then if no contents in iconsetpicker-dirlist then it goes to 0 width. well it takes the with of he contents in that case */
	position: relative;
	/* width: 200px; */
	pointer-events: none;
	padding-bottom: 8px; /* to accomdte for height of arrow */
}
/* state:rightwards */
.iconsetpicker-direction-rightwards .iconsetpicker-subwrap {
	padding-bottom: 0;
	padding-left: 8px; /* to accomadate for height (still not width due to rotate) of arrow */
}
/* end - iconsetpicker_subwrap */

/* start - iconsetpicker_arrow */
/* state:innate */
.iconsetpicker-arrow {
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: #f6f5f6;
	box-shadow: 0 1px 9px 0px rgba(0,0,0,0.3);
	left: 225px;
	bottom: 0px;
	pointer-events: auto;
	transform: rotate(45deg);
	border-radius: 0 0 1px 0;
	border-right: 1px solid #d3d2d3;
	border-bottom: 1px solid #d3d2d3;
}
.iconsetpicker-arrow:before {
	content: '';
	display: block;
	width: 11px;
	height: 20px;
	background-color: inherit; /*#f6f5f6;*/
	position: absolute;
	left: -10px;
	top: -10px;
	box-shadow: 6px 1px #d3d2d3;
	z-index: -1;
}
.iconsetpicker-arrow:after {
	content: '';
	display: block;
	width: 20px;
	height: 11px;
	background-color: inherit; /*#f6f5f6;*/
	position: absolute;
	top: -10px;
	left: -10px;
	box-shadow: 1px 6px #d3d2d3;
	z-index: -1;
}
.iconsetpicker-arrow-filler {
	background-color: inherit; /*#f6f5f6;*/
	display: block;
	width: 19px;
	height: 10px;
	position: relative;
	left: -9px;
}
/* state:rightwards */
.iconsetpicker-direction-rightwards .iconsetpicker-arrow {
	background-color: #e4e3e4;
	transform: rotate(135deg);
	left: 0;
	bottom: 105px;
}
/* end - iconsetpicker_arrow */

/* start - iconsetpicker_content */
/* state:innate */
.iconsetpicker-content {
	/* can set height here, if you want overflows in iconsetpicker-dirlist to be scrollable, otherwise the whole thing takes height of longest contents */
	background-color: #f6f5f6;
	box-shadow: 0 1px 9px 0px rgba(0,0,0,0.3);
	pointer-events: auto;
	border-radius: 3px;
	border: 1px solid #d3d2d3;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
/* end - iconsetpicker_content */

/* start - iconsetpicker_content_content_so_it_is_over_arrow_box */
/* state:innate */
.iconsetpicker-content > * {
	z-index: 1;
}
/* end - iconsetpicker_content_content_so_it_is_over_arrow_box */

/* start - iconsetpicker_nav */
/* state:innate */
.iconsetpicker-nav {
	/* takes the width of the contents, height is 100% as flex */
	background-color: #e4e3e4;
	border-right: 1px solid #d3d2d3;
	padding-top: 15px;
	text-align: left;
	width: 100px;
}
/* end - iconsetpicker_nav */

/* start - iconsetpicker_nav_row */
/* state:innate */
.iconsetpicker-navrow {
	color: #000;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	
}
/* state:selected */
.iconsetpicker-navrow.iconsetpicker-selected {
	color: #fff;
	background-color: #0863d9;
}
/* end - iconsetpicker_nav_row */

/* start - iconsetpicker_browsequicklist_animwrap */
.iconsetpicker-browsequicklist-animwrap {
	
}
/* state:react_animation */
.iconsetpicker-quicklist-enter {
	height: 0;
	overflow: hidden;
}
.iconsetpicker-quicklist-enter.iconsetpicker-quicklist-enter-active {
	height: 77px;
	transition: height 200ms;
}
.iconsetpicker-quicklist-leave {
	height: 77px;
	overflow: hidden;
}
.iconsetpicker-quicklist-leave.iconsetpicker-quicklist-leave-active {
	height: 0;
	transition: height 200ms;
}
/* end - iconsetpicker_browsequicklist_animwrap */

/* start - iconsetpicker_browsequicklist */
.iconsetpicker-browsequicklist {
	padding-left: 15px;
	padding-top: 1px;
	font-size: .8em;
	position: relative;
}
/* end - iconsetpicker_browsequicklist */

/* start - iconsetpicker_browsequicklist_children */
.iconsetpicker-browsequicklist > div {
	padding: 3px 0;
	cursor: pointer;
}
/* end - iconsetpicker_browsequicklist_children */

/* start - iconsetpicker_right */
/* state:innate */
.iconsetpicker-right {
	/* background-color: steelblue; */
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}
/* end - iconsetpicker_right */

/* start - iconsetpicker_controls */
/* state:innate */
.iconsetpicker-controls {
	/* takes the height of the contents, width is 100% as flex */
	/* background-color: skyblue; */
	padding: 5px;
	display: flex;
}
/* end - iconsetpicker_controls */

/* start - iconsetpicker_rightop */
/* state:innate */
.iconsetpicker-righttop {
    /* background-color: midnightblue; */
    flex: 1 0 auto;
    display: flex;
}
/* end - iconsetpicker_rightop */

/* start - iconsetpicker_dirlist */
/* state:innate */
.iconsetpicker-dirlist {
	/* takes width of contents, or set a width, i prefer to set a width because the contents of this changes, so we should keep constant width */
    /* background-color: gray; */
	width: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding-top: 3px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
}
/* end - iconsetpicker_dirlist */

/* start - iconsetpicker_dirlist_loading */
/* state:innate */
.iconsetpicker-dirlist > img,
.iconsetpicker-dirlist > span { /* if immediate is span, then its the error span */
	align-self: center;
	margin: auto 0; /* because there is no justify-self center - http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties */
}
/* end - iconsetpicker_dirlist_loading */

/* start - iconsetpicker_dirlist_entry */
/* state:innate */
.iconsetpicker-direntry {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex: 0 0 auto;
	width: 110px;
	padding: 3px 10px 3px 10px;
	background: transparent url("chrome://profilist/content/resources/images/cp/folder_yellow.png") no-repeat scroll 10px center;
	text-indent: 20px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* state:selected */
.iconsetpicker-direntry.iconsetpicker-selected {
	background-color: #02adf3;
}
/* state:not_clickable_iconset */
.iconsetpicker-direntry.iconsetpicker-iconsetentry {
	background-image: url("chrome://profilist/content/resources/images/cp/folder_picture.png");
}
/* end - iconsetpicker_dirlist_entry */



/* start - iconsetpicker_preview */
/* state:innate */
.iconsetpicker-preview {
    /* background-color: yellow; */
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	padding-top: 3px;
	flex-wrap: wrap;
	width: 220px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/* end - iconsetpicker_preview */

/* start - iconsetpicker_preview_erroboj */
/* state:innate */
.iconsetpicker-preview-errobj {
    width: 100%;
	overflow: hidden;
}
/* end - iconsetpicker_preview_erroboj */

/* start - iconsetpicker_preview_erroboj_ul */
/* state:innate */
.iconsetpicker-preview-errobj ul {
    text-align: left;
	padding-left: 20px;
}
/* end - iconsetpicker_preview_erroboj_ul */

/* start - iconsetpicker_preview_erroboj_li */
/* state:innate */
.iconsetpicker-preview-errobj li {
    
}
/* end - iconsetpicker_preview_erroboj_li */


/* start - iconsetpicker_preview_erroboj_h4 */
/* state:innate */
.iconsetpicker-preview-errobj h4 {
	text-align: center;    
}
/* end - iconsetpicker_preview_erroboj_h4 */

/* start - iconsetpicker_preview_loading */
/* state:innate */
.iconsetpicker-preview > img,
.iconsetpicker-preview > span { /* if immediate is span, then its the error span */
	align-self: center;
	margin: 0 auto; /* because there is no justify-self center - http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties */
}
/* end - iconsetpicker_preview_loading */

/* start - iconsetpicker_preview_image */
/* state:innate */
.iconsetpicker-preview-img {
	width: 64px; /* cross-file-link881711729404 */
	height: 64px; /* height must be same as width */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5em;
	position: relative;
}
/* end - iconsetpicker_preview_image */

/* start - iconsetpicker_preview_image_dimensions */
/* state:innate */
.iconsetpicker-preview-img::after {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	content: attr(data-size);
	position: absolute;
	bottom: -1.2em;
	text-align: center;
	left: 0;
	white-space: nowrap;
	font-size: 0.8em;
}
/* end - iconsetpicker_preview_image_dimensions */